body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.error {
  color:red;
}

input, textarea {
  display: block;
  margin-bottom: 10px;
}